header {
  font-size: 1.3rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header div nav ul {
  display: flex;
  gap: 1.8rem;
  list-style-type: none;
}

header div nav a {
  color: rgb(119, 115, 115);
  text-decoration: none;
}

section {
  background-color: rgb(250, 250, 250);
  width: 100%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.introducao {
  width: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 12%;
  margin-left: auto;
  margin-right: auto;
}
.introducao p {
  grid-column-start: 1;
  color: rgb(119, 115, 115);
  font-size: 1.4rem;
  text-align: start;
}

.introducao header h1 {
  font-size: 5rem;
  line-height: 0.7;
  margin-top: 1rem;
  margin-bottom: -0.2rem;
}

.introducao header h6 {
  font-size: 1.5rem;
  line-height: 0.7;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.introducao header h6 strong {
  color: rgb(242, 104, 104);
}
.introducao a {
  grid-column-start: 1;
  width: 30%;
  border-radius: 25px;
}

.introducao a button {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: rgb(242, 104, 104);
  color: white;
}
