body {
  background-color: black;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

section {
  padding-top: 3.5rem;
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: white;
  display: flex;
  align-items: center;
  background-color: black;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
}
#hamburguer {
  display: none;
}

#logo:hover {
  cursor: default;
}
header,
nav {
  justify-content: space-around;
}

header,
nav,
ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.link:hover {
  color: gray;
  text-decoration: underline;
  transition: 0.5s ease;
}

#menu-hamburguer {
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  color: white;

  align-items: center;
  background-color: black;
}

#menu-hamburguer nav {
  width: 100%;
  display: flex;

  flex-direction: column;
}

#menu-hamburguer ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu-hamburguer li {
  text-align: center;
}

.icone-portfolio {
  width: 40px;
  height: 35px;
}

#sobre-mim {
  color: #fff;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100vh;
}

#texto {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
}

.especial {
  color: #640d5f;
}

.descrição {
  color: rgb(177, 179, 179);
  font-size: 1.2rem;
}

#linkedin {
}

#linkedin button {
  border-radius: 20px;
  width: 30%;
  height: 100%;
  background-image: linear-gradient(45deg, #7f00ff, #e100ff);
}

#imagem-sobre-mim {
}
#minha-foto {
  width: 100%;
}

#minhas-habilidades {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 60%;
  height: 100vh;
  margin-bottom: 20%;
  gap: 2rem;
}

#titulo-minhas-habilidades {
  font-size: 3rem;
}
#lista-habilidades {
  display: flex;
  margin: 0 auto;
  gap: 4rem;
}
.habilidades {
  background-color: rgb(14, 14, 16);
  width: 50%;
  height: 100%;
  margin: 0 auto;
  border-top: 10px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(45deg, red, blue);
}
.habilidades p {
  height: 40%;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 0.1cap;
}
.barra-porcentagem {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  height: 10%;
  text-align: start;
}
.barra-porcentagem strong {
  position: relative;
  left: 1rem;
}
.barra-porcentagem div {
  width: 90%;
  height: 0.5rem;
  background-color: white;
}
.barra-porcentagem div div {
  width: 80%;
  height: 100%;
  background-color: #640d5f;
}
.img-habilidades {
  width: 50px;
  height: 50px;
}

#meus-projetos {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 60%;
  height: 100vh;
  margin-bottom: 20%;
}
#meus-projetos h1 {
  font-size: 3rem;
}

#meus-projetos ul {
  display: flex;
  height: 100%;
  gap: 4rem;
}

#meus-projetos li {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(14, 14, 16);
}

#meus-projetos li p {
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 0.1cap;
}

@media only screen and (max-width: 1024px) {
  section {
    padding-top: 5.8rem;
  }

  #sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
  }

  #texto {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
  }

  #minha-foto {
    width: 100%;
    height: 60%;
  }

  #minhas-habilidades {
    text-align: center;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
  }

  #lista-habilidades {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    width: 80%;
    height: 100%;
  }
  .habilidades {
    width: 90%;
    height: 100%;
  }

  #meus-projetos {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
  }

  #meus-projetos ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #meus-projetos li {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  #meus-projetos li p {
    font-size: 1rem;
  }
}

@media only screen and (max-height: 960px) {
  #menu {
    display: none;
  }

  #hamburguer {
    display: flex;
  }

  section {
    padding-top: 5.8rem;
  }

  #sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100vh;
  }

  #texto {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
  }

  #minha-foto {
    width: 100%;
    height: 60%;
  }

  #minhas-habilidades {
    text-align: center;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 170vh;
  }

  #lista-habilidades {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    width: 80%;
    height: 100%;
  }
  .habilidades {
    width: 90%;
    height: 100%;
  }

  #meus-projetos {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 150vh;
  }

  #meus-projetos ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #meus-projetos li {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  #meus-projetos li p {
    font-size: 1rem;
  }
}

@media only screen and (max-height: 600px) {
  #menu {
    display: none;
  }

  #hamburguer {
    display: flex;
  }

  section {
    padding-top: 5.8rem;
  }

  #sobre-mim {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 150vh;
  }

  #texto {
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
  }

  #minha-foto {
    width: 100%;
    height: 60%;
  }

  #minhas-habilidades {
    text-align: center;
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 250vh;
  }

  #lista-habilidades {
    display: flex;
    gap: 2rem;
    flex-direction: column;

    width: 80%;
    height: 100%;
  }
  .habilidades {
    width: 90%;
    height: 100%;
  }

  #meus-projetos {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
  }

  #meus-projetos ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  #meus-projetos li {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  #meus-projetos li p {
    font-size: 1rem;
  }
}
