body {
  background-color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  color: white;
  display: flex;
  align-items: center;
}

#logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
}

#logo:hover {
  cursor: default;
}
header,
nav {
  justify-content: space-around;
}

header,
nav,
ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  position: relative;
}

.link:hover {
  color: gray;
  text-decoration: underline;
  transition: 0.5s ease;
}

.icone-portfolio {
  width: 20px;
  height: 20px;
}

#sobre-mim {
  text-align: center;
  color: #fff;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60% 10% 10%;
  width: 80%;
}

#titulo-sobre-mim {
  grid-column-start: 1;
  grid-column-end: 1;

  grid-row-start: 1;
  grid-row-end: 1;
  font-size: 4rem;
}

.especial {
  color: #640d5f;
}

.descrição {
  color: rgb(177, 179, 179);
  font-size: 1.1rem;
  grid-column-start: 1;
  grid-column-end: 1;

  grid-row-start: 2;
  grid-row-end: 2;
}

#linkedin {
  grid-column-start: 1;
  grid-column-end: 1;

  grid-row-start: 3;
  grid-row-end: 3;
}

#imagem-sobre-mim {
  grid-column-start: 2;
  grid-column-end: 2;

  grid-row-start: 1;
  grid-row-end: 3;
}
#minha-foto {
  width: 100%;
  height: 100%;
}

#minhas-habilidades {
  text-align: center;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 80%;
}

#titulo-minhas-habilidades {
  font-size: 3rem;
}
#lista-habilidades {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.habilidades {
  background-color: rgb(14, 14, 16);
  width: 75%;
  border: 30px solid linear-gradient(#40e0d0, #ff8c00, #ff0080);
}
.img-habilidades {
  width: 50px;
  height: 50px;
}

#meus-projetos {
  background-color: blueviolet;
}
