* {
  margin: 0; /* Remove margens de todos os elementos */
  padding: 0; /* Remove preenchimento de todos os elementos */
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-content: space-around;
}

#inicio {
  display: flex;
  align-items: center;
  background-image: url("../img/alexander-dummer-aS4Duj2j7r4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

#content-incio {
  width: 25%;
  height: 60%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: 2rem;
  margin-left: 3rem;
  padding-left: 2rem;
  background-color: white;
}

#content-incio a button {
  color: white;
  background-color: black;
  width: 50%;
  height: 100%;
  font-size: 1rem;
}
#sobre {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50vw;
  background-color: white;
}

#section-sobre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#section-sobre h1 {
  padding-bottom: 2rem;
}

#detalhe {
  text-align: start;
  margin: 0 auto;
  width: 40%;
  font-size: 2rem;
}

#detalhe p {
  border-left: 3px solid black;
  padding-left: 1rem;
}

#aprender {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  width: 40%;
  font-size: 2rem;
}
#aprender ul {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

#aprender table {
  border-collapse: collapse;
  font-size: 2rem;
}

tr {
  border-left: 3px solid black;
  height: 4rem;
}
