* {
  margin: 0; /* Remove margens de todos os elementos */
  padding: 0; /* Remove preenchimento de todos os elementos */
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  align-items: center;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-content: space-around;
}

header nav a {
  color: black;
  text-decoration: none;
}

#hamburguer {
  display: none;
  background-color: white;
  border: 0;
}
#menu-hamburguer {
  width: 100%;
  padding-top: 4rem;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  padding-bottom: 1rem;
}

#menu-hamburguer ul {
  width: 50%;
  margin: 0 auto;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 1.8rem;
  list-style-type: none;
  text-align: center;
}

#menu-hamburguer ul a {
  color: black;
  text-decoration: none;
}

#inicio {
  display: flex;
  align-items: center;
  background-image: url("../img/alexander-dummer-aS4Duj2j7r4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

#content-incio {
  width: 25%;
  height: 60%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  font-size: 1.2rem;
  margin-left: 3rem;
  padding-left: 2rem;
  background-color: white;
}

#content-incio a button {
  color: white;
  background-color: black;
  width: 50%;
  height: 100%;
  font-size: 1rem;
}
#sobre {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
}

#content-sobre {
  width: 80%;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

#content-sobre h1 {
  padding-bottom: 2rem;
}

#detalhe {
  text-align: start;
  margin: 0 auto;
  width: 50%;
  font-size: 1.2rem;
}

#detalhe p {
  border-left: 3px solid black;
  padding-left: 1rem;
}

#aprender {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  width: 40%;
  font-size: 1.2rem;
}
#aprender ul {
  flex-wrap: wrap;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
}

#aprender table {
  border-collapse: collapse;
  font-size: 1.2rem;
}

tr {
  border-left: 3px solid black;
  height: 4rem;
}

#localizacao {
  background-image: url("../img/conor-luddy-IVaKksEZmZA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: white;
}

#content-localizacao {
  display: flex;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}

#descricao {
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  width: 50%;
  font-size: 1.2rem;
  padding: 2rem 0;
}

#descricao h1 {
  padding-bottom: 2rem;
}

#mapa {
  display: flex;
  margin: 0 auto;
  width: 40%;
  height: 30rem;
}

#faq {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  background-color: white;
}
#container-faq {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  height: 100%;
  padding: 20px;
  flex-direction: column;
  font-size: 1.2rem;
}

details {
  position: relative;
  width: 100%;
}

#container-faq h1 {
  margin: 0 auto;
  padding-bottom: 4rem;
}

#container-faq div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 40%;
  margin: 0 auto;
}

details {
  margin: 0 auto;
  height: 7rem;
  cursor: pointer;
  transition: all 0.7s ease;
}
details[open] {
  background-color: aquamarine;
  transition: all 0.7s ease;
}

#contato {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("../img/simon-hughes-6LeKnXuKdk0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}
#conteiner-contato {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 50%;
  height: 60%;
  padding: 20px;
  flex-direction: column;
  font-size: 1.2rem;
  color: black;
  background-color: white;
  gap: 3rem;
}

#conteiner-contato h1 {
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
}

input {
  border-radius: 7px;
  width: 100%;
  height: 10%;
  font-size: 1.2rem;
}
textarea {
  border-radius: 7px;
  width: 100%;
  height: 30%;
  font-size: 1.2rem;
}

@media only screen and (max-width: 450px) {
  header {
    font-size: 0.8rem;
  }

  header nav {
    display: none;
  }

  #hamburguer {
    display: flex;
  }
  #content-incio {
    font-size: 0.8rem;
  }

  #content-incio a button {
    font-size: 0.7rem;
  }

  #detalhe {
    font-size: 0.8rem;
  }

  #detalhe p {
    font-size: 0.8rem;
  }

  #aprender {
    font-size: 0.8rem;
  }

  #aprender table {
    font-size: 0.8rem;
  }

  #descricao {
    font-size: 0.8rem;
  }

  #container-faq {
    font-size: 0.8rem;
  }

  #conteiner-contato {
    font-size: 0.8rem;
  }

  form {
    font-size: 0.8rem;
  }

  input {
    font-size: 0.8rem;
  }
  textarea {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 340px) {
  header {
    font-size: 0.6rem;
  }

  header nav {
    display: none;
  }

  #hamburguer {
    display: flex;
  }
  #content-incio {
    font-size: 0.6rem;
  }

  #content-incio a button {
    font-size: 0.5rem;
  }

  #detalhe {
    font-size: 0.6rem;
  }

  #detalhe p {
    font-size: 0.6rem;
  }

  #aprender {
    font-size: 0.6rem;
  }

  #aprender table {
    font-size: 0.6rem;
  }

  #descricao {
    font-size: 0.6rem;
  }

  #container-faq {
    font-size: 0.6rem;
  }

  #conteiner-contato {
    font-size: 0.6rem;
  }

  form {
    font-size: 0.6rem;
  }

  input {
    font-size: 0.6rem;
  }
  textarea {
    font-size: 0.6rem;
  }
}
